@model PagedList.IPagedList<AdminLteMvc.Models.FlowSteps>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Pasos para los Flujos";
}

<div class="container-fluid">
<p>
    @Html.ActionLink("Crear nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div class="form-group form-inline">
    <div class="form-group">
        <div>
            <p class="text-info">Empleado</p>
        </div>
        <input type="text" placeholder="" id="employee" name="employee" class="form-control" />
    </div>
    <div class="form-group">
        <div>
            <p class="text-info">Tipo de Flujo</p>
        </div>
        @Html.DropDownList("IdFlowType", null, htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div>
            <p class="text-info">Acciones</p>
        </div>
        <button onclick="Filter()"type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            Filtrar
        </button>
        @Html.ActionLink("Limpiar Filtro", "Index", "Attachments", htmlAttributes: new { @class = "btn btn-default" })

    </div>

</div>

<table class="table table-hover table-responsive">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FlowType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Group.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StepNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StepName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = @item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = @item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
@Scripts.Render("~/bundles/jquery")
</div>
@section scripts
{
    <script>
        function Filter()
        {
            //  $("#btnFilter").click(function() {

            $.ajax({
                url: "@Url.Action("Index", "FlowSteps")",
                type: "Get",
                data: { IdFlowType: $("#IdFlowType").val(),employee: $("#employee").val()},
                cache: false,
                dataType: "html",
                success: function(data) {
                    $("body").html(data);
                }
            });
            //});
        }
    </script>
}